<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TestersoureMapper">
    <resultMap type="TesterSoure" id="TestersoureResult">
        <result property="id"    column="id"    />
        <result property="no"    column="no"    />
        <result property="score"    column="score"    />
        <result property="module"    column="module"    />
        <result property="title"    column="title"    />
        <result property="detail"    column="detail"    />
        <result property="reason"    column="reason"    />
        <result property="adopter2"    column="adopter2"    />
        <result property="adopter"    column="adopter"    />
        <result property="operator"    column="operator"    />
        <result property="updateTime"    column="updateTime"    />
        <result property="createTime"    column="createTime"    />
    </resultMap>
    
    <update id="updateReasonByNo" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set reason = #{reason} where no = #{no}
    </update>



    <select id="queryTitlesListByNo" parameterType="com.ruoyi.test.domain.Testersoure" resultMap="TestersoureResult">
<!--        select GROUP_CONCAT(t.id SEPARATOR',') as id,t.module,GROUP_CONCAT(t.title SEPARATOR',') as title,t.module,GROUP_CONCAT(t.detail SEPARATOR',') as detail,t.module,GROUP_CONCAT(t.score SEPARATOR',') as score-->
<!--        from testerSoure t-->
<!--        where no = #{no}-->
<!--        GROUP BY t.module-->
<!--        select t.id ,t.score,t.module,t.detail,t.title,t.operator,tm.name as name from testerSoure t join testerMember tm on (tm.no=t.operator)  where t.no=#{no}-->
        select t.id ,t.score,t.module,t.detail,t.title,t.operator from testerSoure t   where no=#{no}
    </select>



</mapper>

