<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TestersoureMapper">
    <resultMap type="TesterSoure" id="TestersoureResult">
        <result property="id"    column="id"    />
        <result property="no"    column="no"    />
        <result property="score"    column="score"    />
        <result property="module"    column="module"    />
        <result property="title"    column="title"    />
        <result property="detail"    column="detail"    />
        <result property="reason"    column="reason"    />
        <result property="adopter2"    column="adopter2"    />
        <result property="adopter"    column="adopter"    />
        <result property="operator"    column="operator"    />
        <result property="updateTime"    column="updateTime"    />
        <result property="createTime"    column="createTime"    />
        <result property="openId"    column="openId"    />
    </resultMap>

    <update id="updateReasonByNo" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set reason = #{reason},adopter = #{adopter},operator=#{operator} where id = #{id}
    </update>

    <update id="updateReasonByNo2" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set reason = #{reason},adopter2 = #{adopter2},operator=#{operator} where id = #{id}
    </update>

    <update id="updateScoreById" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set score = #{score} where id = #{id}
    </update>

    <update id="updateAdopterById" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set adopter = #{adopter} where id = #{id}
    </update>

    <update id="updateAdopter2ById" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set adopter2 = #{adopter2} where id = #{id}
    </update>


    <select id="queryTitlesListByNo" parameterType="com.ruoyi.test.domain.Testersoure" resultMap="TestersoureResult">
        select t.id ,t.no,t.score,t.module,t.detail,t.title,u.openid,t.adopter,t.adopter2,t.operator
        from ncg.testerSoure t
        join account.user_info u
        on t.no = u.no
        where t.no = #{no}
    </select>



    <update id="updateAdopt2ByNo" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set adopter2 = #{adopter2} where no = #{no}
    </update>

    <update id="updateAdoptByNo" parameterType="com.ruoyi.test.domain.Testersoure">
        update testerSoure set adopter = #{adopter} where no = #{no}
    </update>


    <update id="updateAdopt2ByNos" parameterType="string">
        update testerSoure set adopter2 = 1 where no in
        <foreach collection="nos.split(',')" separator="," open="(" close=")" item="no">
            #{no}
        </foreach>
    </update>

    <update id="updateAdoptByNos" parameterType="string">
        update testerSoure set adopter = 1 where no in
        <foreach collection="nos.split(',')" separator="," open="(" close=")" item="no">
            #{no}
        </foreach>
    </update>




</mapper>

