<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.StudentMapper">
<!--
    private Integer id;
    private String name;
    private Integer no;
    private Integer grade;
    private Integer classId;
    private String major;
    private Integer mid;
    private Integer cid;
    private String status;
-->

    <resultMap type="Student" id="StudentResult" >
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="no" column="no"/>
        <result property="grade" column="grade"/>
        <result property="classId" column="classId"/>
        <result property="classValue" column="classValue"/>
        <result property="majorValue" column="majorValue"/>
        <result property="major" column="major"/>
        <result property="mid" column="mid"/>
        <result property="cid" column="cid"/>
        <result property="status" column="status"/>
    </resultMap>


    <sql id="selectStudentVo">
        select id,name,no,grade,classId,major,mid,cid,status from student where (grade = 19 or grade = 20)
    </sql>

    <sql id="selectStudentAllMajor">
        and major in('计算机科学与技术','电子信息科学与技术','通信工程','电气工程及其自动化','软件工程','智能科学与技术','数据科学与大数据技术')
    </sql>


    <select id="selectAllStudentList" resultType="com.ruoyi.test.domain.Student">
        select
        s.id,s.name,s.no,s.grade,c.name as classid,s.major,s.mid,s.cid ,s.status
        from student s
        join classes c
        on c.id=s.classid
        where (s.grade = 19 or s.grade = 20)
        <if test="name != null  and name != ''"> and s.name like concat('%', #{name}, '%')</if>
        <if test="no != null  and no != ''"> and no like concat('%', #{no}, '%')</if>
        <if test="status == '通过'"> and s.status = 1</if>
        <if test="status == '驳回'"> and s.status = 2</if>
        <if test="status == '审核中'"> and s.status = 0</if>
        <if test="majorValue != null  and majorValue != ''"> and s.major = #{majorValue}</if>
        <if test="classValue != null  and classValue != ''"> and c.name = #{classValue}</if>
        <if test="major == null or major == ''">
            <include refid="selectStudentAllMajor"></include>
        </if>
    </select>


    <select id="selectMajorStudentList" resultType="com.ruoyi.test.domain.Student">
        select
        s.id,s.name,s.no,s.grade,c.name as classid,s.major,s.mid,s.cid ,s.status
        from student s
        join classes c
        on c.id=s.classid
        where (s.grade = 19 or s.grade = 20)
        <if test="name != null  and name != ''"> and s.name like concat('%', #{name}, '%')</if>
        <if test="no != null  and no != ''"> and no like concat('%', #{no}, '%')</if>
        <if test="status == '通过'"> and s.status = 1</if>
        <if test="status == '驳回'"> and s.status = 2</if>
        <if test="status == '审核中'"> and s.status = 0</if>
        <if test="major != null  and major != ''">
            and s.major in
            <foreach collection="major.split(',')" item="major" separator="," open="(" close=")">
                #{major}
            </foreach>
        </if>
        <if test="classValue !=null and classValue!= ''"> and c.name=#{classValue}</if>

    </select>



    <select id="selectClassStudentList" resultType="com.ruoyi.test.domain.Student">
        select
        s.id,s.name,s.no,s.grade,c.name as classid,s.major,s.mid,s.cid ,s.status
        from student s
        join classes c
        on c.id=s.classid
        where (s.grade = 19 or s.grade = 20)
        <if test="name != null  and name != ''"> and s.name like concat('%', #{name}, '%')</if>
        <if test="no != null  and no != ''"> and no like concat('%', #{no}, '%')</if>
        <if test="status == '通过'"> and s.status = 1</if>
        <if test="status == '驳回'"> and s.status = 2</if>
        <if test="status == '审核中'"> and s.status = 0</if>
        <if test="classId != null  and classId != ''">
            and c.name in
            <foreach collection="classId.split(',')" item="classId" separator="," open="(" close=")">
                #{classId}
            </foreach>
        </if>
        /*专业筛选*/
        <if test="major != null  and major != ''">
            and s.major in
            <foreach collection="major.split(',')" item="major" separator="," open="(" close=")">
                #{major}
            </foreach>
        </if>


    </select>


    <select id="selectTestUserByUserId" parameterType="int" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        and no = #{no}
    </select>

    <update id="updateStatusByNo" parameterType="com.ruoyi.test.domain.Student">
        update student set status = #{status} where no = #{no}
    </update>


    <update id="updateStatusByNos" parameterType="string">
        update student set status = 1 where no in
        <foreach collection="nos.split(',')" separator="," open="(" close=")" item="no">
            #{no}
        </foreach>
    </update>

</mapper>















